.xc--text-center {
  text-align: center;
}


/* Layout */

.xc-cols {
  display: flex;
  flex-direction: row;
}

.xc-cols--center {
  justify-content: center;
  align-items: center;
  align-content: center;
}

.xc-cols__item {
  flex: 1 1;
}

.xc-cols__item--15 {
  flex: 0 1 15%;
}

.xc-rows {
  display: flex;
  flex-direction: column;
}

.xc-rows__item {
  flex: 1 1;
}

/* XConsole */

.xc-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.xc-container__mask {
  height: 40vh;
}

.xc-container__content {
  flex: 1;
  background-color: white;
}

.xc-panel {
  display: flex;
  flex-direction: column;
}

.xc-panel__header {
  height: 44px;
}

.xc-panel__content {
  display: flex;
  flex-direction: column;
  height: 60vh;
}

.xc-tab-panel {
  position: relative;
}

.xc-tab-panel--hidden {
  height: 0px;
  left: -100vw;
}

.xc-tabs {
  height: 100%;
  display: flex;
  border-bottom: 1px solid silver;
  box-sizing: border-box;
}

.xc-tabs__tab {
  flex: 1 1;
  border-right: 1px solid silver;
}

.xc-tabs__tab--noborder {
  border-right: initial;
}